@import 'styles/colors';

.consultation {
  background: $light-white;
  margin-top: 7.5rem;
  padding: 1.0625rem 1.625rem 3.5rem;
  border-radius: 0.5rem;

  &_country {
    position: relative;
  }

  h3 {
    color: $purple;
    text-align: center;
  }

  &__wrapper {
    margin-top: 3rem;
    display: flex;
    gap: 2.5rem;

    &_inner {
      display: flex;
      gap: 2.5rem;
    }

    button {
      padding: 0.75rem 2.75rem;
    }

    input[type='text'],
    input[type='email'] {
      flex: 1;
      padding: 0.625rem;
      font-size: 1.25rem;
      outline: none;

      &::placeholder {
        color: $grey-2;
      }
    }
  }
}
