@import 'styles/mixins';
@import 'styles/colors';

.curriculum {
  .gain {
    margin-top: 7.5rem;

    h2 {
      text-transform: capitalize;
      color: $light-white;
    }

    p {
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 180%; /* 3.15rem */
      margin-top: 3.125rem;
      max-width: 73.125rem;
      color: $light-white;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;
    gap: 1.75rem;
  }
}

.dropdown__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-top: 3.125rem;
}
