@import 'styles/colors';
@import 'styles/mixins';

.course {
  padding: 3rem 0 6.25rem;
}

.img__container {
  position: relative;
  width: 64.1875rem;
  height: 29.25rem;
  margin: auto;
  margin-top: 0.3125rem;
}
