@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/breakpoints';

.features {
  margin-top: 3.125rem;
  text-align: center;

  @include media-min($md) {
    margin-top: 6.25rem;
  }

  @include media-min($lg) {
    margin-top: 9.375rem;
  }

  p {
    margin: auto;
    margin-top: 1rem;
    max-width: 31.25rem;

    @include media-min($md) {
      margin-top: 2.25rem;
    }

    @include media-min($lg) {
      max-width: 52.875rem;
    }
  }
}

.cards {
  @include flexLayout(center, center);
  flex-direction: column;
  margin-top: 2rem;
  gap: 2.5rem;

  @include media-min($sm) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.25rem;
  }

  @include media-min($md) {
    margin-top: 3rem;
  }

  @include media-min($lg) {
    gap: 6rem;
    margin-top: 6em;
  }

  @include media-min($xl) {
    align-items: stretch;
    gap: 2.5rem;
    row-gap: 5rem;
  }

  .card {
    max-width: 13.75rem;
    padding: 3rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1.25rem;
    background: $white;
    box-shadow: 0rem 0.625rem 3.75rem 0rem rgba($blue, 0.08);
    position: relative;

    @include media-min($md) {
      max-width: 19.6875rem;
      padding: 4.5rem 1.25rem 1.25rem 1.25rem;
    }

    @include media-min($lg) {
      max-width: 24.6875rem;
      padding: 6rem 1.25rem 1.25rem 1.25rem;
    }

    @include media-min($xl) {
      padding: 6rem 1.25rem 1.25rem 1.25rem;
    }

    &__image {
      position: absolute;
      top: -1.25rem;
      left: 50%;
      height: 2.5rem;
      width: 2.5rem;
      transform: translateX(-50%);
      border-radius: 50%;
      @include flexLayout(center, center);

      @include media-min($md) {
        height: 3.75rem;
        width: 3.75rem;
        top: -1.875rem;
      }

      @include media-min($lg) {
        width: 6.25rem;
        height: 6.25rem;
        top: -3.125rem;
      }

      .card__img {
        height: 0.9375rem;
        width: auto;

        @include media-min($md) {
          height: 1.875rem;
        }

        @include media-min($lg) {
          height: 2.8125rem;
        }
      }
    }

    &__title {
      max-width: 20.625rem;
      margin: auto;
      text-align: center;
      color: $blue;
    }

    &__description {
      color: $grey;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      margin-top: 1.25rem;

      @include media-min($lg) {
        font-size: 1.25rem;
        line-height: 2.25rem;
      }
    }
  }
}
