//background
$light-white: #f8f7f9;
$grey-white: #f5f5fc;
$bg: #fffefc;
$linear-gradient-bg: linear-gradient(
  321deg,
  rgba(128, 0, 255, 0.4) 0.43%,
  #8000ff 100%
);

//text
$white: #fff;
$grey: #696984;
$purple: #3e0f6e;
$purple-light: #aa54ff;
$linear-gradient-text: linear-gradient(128deg, #c793fb 0%, #8102ff 100%);

//other
$pink: #f1e3ff;
$blue: #2f327d;

//placeholder
$white-05: rgba(255, 255, 255, 0.5);

//label
$purple-dark: #190929;

//form input placeholder
$grey-1: #acacac;
$grey-2: #777;

//dropdown
$pink-2: #c894fb;
$purple-2: #824eb5;

//profile user img background
$grey-3: #d9d9d9;

//profile user camera
$pink-3: #dfc4fa;

//input range slider track color
$grey-4: #9c9c9c;
$grey-5: #dfdfdf;

//error color
$red: #ff0000;
