@import 'styles/colors';
@import 'styles/mixins';

.info {
  margin-top: 7.5rem;

  h2,
  p {
    color: $light-white;
  }

  &__description {
    margin-top: 3.125rem;
    max-width: 73.125rem;
  }
}
